@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

/* text-paragraphs and padding-top */

h1 {
    padding-top: 91.32px;
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -0.53px;
    color: #172339;
} .h1bold { font-weight: 700;} .p1 { padding-top: 32px; padding-bottom: 32px; 
    font-weight: 400; font-size: 16px; line-height: 28px; 
    letter-spacing: 0.09px; color: #49566D;
    }


h2 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #172339;
} .p2 { text-align: center; font-weight: 400; font-size: 16px; line-height: 26px;
     letter-spacing: 2.5px; color: #49566D;
    }


h3 {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 38px;
    letter-spacing: -0.42px;
    color: #FAF8F6;
} .h3bold { font-weight: 700;} .p3 { padding-top: 40px; text-align: center; font-weight: 400; font-size: 18px;
     line-height: 32px; letter-spacing: 0.09px; color: #F3EDE7;
    }


h4 {
    padding-top: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
} .p4 { text-align: center; font-weight: 400; font-size: 16px; 
    line-height: 26px; letter-spacing: 2.5px; color: #F3EDE7;
    }      


h5 {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.08px;
    color: #49566D;
}
/* end of text-paragraphs padding-top */


/* positionings */

.mobilesection {
    padding-left: 16px;
    padding-right: 16px;   
}

body {
    font-family: 'Epilogue', sans-serif;
    padding-top: 24px;
    background-color: #F2F2F2;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.image1 {
    padding-top: 55.68px;
    padding-bottom: 56px;
    display:flex;
    justify-content: center;
    align-items: center; 

}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 237px;
    height: 748px;
    border-radius: 15px;
    padding-left: 16px;
    padding-right: 16px; 
    background-color: #172339;
}

/* end of positionings */

/* BUTTONS1-2 */

.button1 {
    width: 182px;
    height: 48px;
    border-radius: 6px;
    border-color: #172339;
    background-color: #FAF8F6;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.14px;
    color: #172339;
    transition: background-color 1s ease-out;
} .button1:hover { color: #FAF8F6; background-color: #172339;}


.button2 {
    width: 256px;
    height: 61px;
    border-radius: 6px;
    border-color: #172339;
    background-color: #172339;

    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
    transition: background-color 1s ease-out;

} .button2:hover { border: none; 
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}
/* END OF BUTTONS */

/* FOOTER */

footer {
    display:Flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F3EDE7;
    gap: 33px;
}

.logo2 {
    padding-top: 56px;
}

.contacts {
    display:flex;
    flex-direction: row;
    gap: 28px;
    padding-bottom: 80px;
}

.facebook:hover {
    opacity: 0.5;
}

.twitter:hover {
    opacity: 0.5;
}

.instagram:hover {
    opacity: 0.5;
}
/* END OF FOOTER */


/* IMAGES */

.curved-line1 {
    position: absolute;
    margin-top: 65px;
    margin-left: 154px;
}

.jeremy {
    position: absolute;
    bottom: 71%;
    z-index: 1;
}

.blur {
    position: absolute;
    bottom: 58%;
}

.curved-line2 {
    margin-top: 200px;
    margin-bottom: 37px;   
}

/* END OF IMAGES */